
# Environment and Secrets
.env
**/.env
*.env
.vscode/
DataSet Download/
DataSet Download.zip

data/

# Python
__pycache__/
**/__pycache__/
.venv/
*.pyc

# Node
node_modules/

# User exclusions
*.md
Makefile

# Testing
backend/tests/
tests/
